CONFIG_PREEMPT_BUILD=y
# CONFIG_PREEMPT_NONE is not set
# CONFIG_PREEMPT_VOLUNTARY is not set
CONFIG_PREEMPT=y
CONFIG_PREEMPT_COUNT=y
CONFIG_PREEMPTION=y
# CONFIG_PREEMPT_DYNAMIC is not set
# PREEMPT_RT kernel overrides
CONFIG_EXPERT=y
CONFIG_PREEMPT=y
CONFIG_PREEMPT_RT=y
CONFIG_PREEMPT_BUILD=y
CONFIG_PREEMPTION=y
CONFIG_PROVE_LOCKING=n
CONFIG_ARCH_SUPPORTS_RT=y
CONFIG_LOCALVERSION="-preempt_rt"
CONFIG_LOCALVERSION_AUTO=n

# Disable conflicting preemption modes
# CONFIG_PREEMPT_NONE is not set
# CONFIG_PREEMPT_VOLUNTARY is not set
# CONFIG_PREEMPT_DYNAMIC is not set
# CONFIG_PREEMPT_LAZY is not set

CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_INFO=y
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y
CONFIG_DEBUG_INFO_REDUCED=y
# CONFIG_SCHED_DEBUG is not set

# Disable debug overhead that adds latency
# CONFIG_DEBUG_LOCK_ALLOC is not set
# CONFIG_DEBUG_MEMORY_INIT is not set
# CONFIG_DEBUG_RT_MUTEXES is not set
# CONFIG_DEBUG_SPINLOCK is not set
# CONFIG_DEBUG_WW_MUTEX_SLOWPATH is not set
# CONFIG_LOCKDEP is not set